.dessert {
    position: absolute;
    top: 20px;
    left: 30px;
}

.expand {
    position: relative;
    border: 2px solid black;
    background-color: rgba(255, 255, 255, 0.483);
    padding: 5px;
    height: 30px;
    width: 30px;
    top: 320px;
    left: 470px;
}