* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

#main {
    display: flex;
    min-height: calc(100vh - 20vh);
    font-family: Arial, Helvetica, sans-serif;
}

header, footer, article, nav, aside {
    padding: 0.5em; /* размер относительно шрифта*/
}

header, footer {
    background: rgb(122, 192, 168);
    min-height: fit-content;
    height: 10vh;
}

header {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    font-size: 30px;
    font-weight: normal;
}

.choice_header {
    font-size: 20px;
    display: flex;
    justify-content: space-evenly;
}

/* растяжка блока статьи; по умолчанию под размер текста */
#main > article {
    flex: 8;
}

/* '>' - поиск среди прямых потомков */
/* vw – 1% ширины окна */

#main > nav, 
#main > aside {
    /* flex: 1 0 30vw; */
  background: beige;
}

#main > nav {
    flex: 2;
    order: -1;
}

#main > aside {
    flex: 4;
    display: flex;
    flex-direction: column;

}

#food > li {
    font-weight: bold;
}

a {
    color: #767575; /* Цвет обычной ссылки */ 
    text-decoration: none; /* Убираем подчёркивание у ссылок */
}
   
a:visited {
    color: #009595; /* Цвет посещённой ссылки */
} 
   
a:hover {
    color: #ffffff; /* Цвет ссылки при наведении */ 
    text-decoration: underline; /* Добавляем подчёркивание */
}

.recommend a {
    color: #767575; /* Цвет обычной ссылки */ 
    text-decoration: none; /* Убираем подчёркивание у ссылок */
}

.recommend a:visited {
    color: #c27c19; /* Цвет посещённой ссылки */
} 

.recommend a:hover {
    color: #040404; /* Цвет ссылки при наведении */ 
    text-decoration: underline; /* Добавляем подчёркивание */
}

.recommend {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.block {
    background-color: rgb(238, 238, 238);
    height: 350px;
    width: 70vw;
    display: flex;
    flex-direction: column;
    padding: 30px;
}

footer {
    display: flex;
    flex-direction: column;
    min-height: fit-content;
}
