.cards {
    position: absolute;
    left: 50%;
    top: 50px;
    transform-origin: 50% 100%;
}

.ace {
    transform: rotate(15deg);
    z-index: 3;
}

.seven {
    z-index: 2;
}

.three {
    transform: rotate(-15deg);
    z-index: 1;
}